



@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('Quicksand/Quicksand-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 400;
  src: url('Playfair_Display/PlayfairDisplay-BlackItalic.ttf') format('opentype');
}