@import "~react-notifications/lib/notifications.css";
@import "../../static/fonts/fonts.css";

#root {
  padding: unset;
}

body {
  margin: unset;
  background-color: #fafafa;
}

*,
h4 {
  font-family: "Quicksand", sans-serif;
}
