.tags_bubble {
  font-weight: bold;
  color: white;
  border-radius: 0.8em;
  min-width: 1.5em;
  text-align: center;
}

.tags_count {
  background-color: rgb(15, 80, 150);
}

.tags_add {
  -webkit-transition: filter 0.25s ease-out;
  transition: filter 0.25s ease-out;
  background-color: #4d9e25;
  cursor: pointer;
}

.tags_add:hover {
  -webkit-filter: brightness(85%);
  filter: brightness(120%);
}

.tags_cross {
  -webkit-transition: filter 0.25s ease-out;
  transition: filter 0.25s ease-out;
  cursor: pointer;
  background-color: #e04d1c;
  border-radius: 1em;
}

.tags_cross:hover {
  -webkit-filter: brightness(85%);
  filter: brightness(120%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

::selection {
  color: white;
  background-color: rgb(10, 50, 100);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(190, 200, 180, 0.3);
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 12px;
  background-color: rgba(190, 200, 180, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

body {
  background-color: #fafafa;
}

*,
h4 {
  font-family: "Quicksand", sans-serif;
}
